@font-face{
  font-family:'alibaba' ;  /* 字体名自定义即可 */
  src:url('/fonts/alibaba.ttf'); /* 字体文件路径 */
  font-display : swap;
}
h1#site-title {
  font-family: 'alibaba', sans-serif;
}
div#post{
  background: rgba(255, 255, 255, 0.9);
}
div#page{
  background: rgba(255, 255, 255, 0.9);
}
div#archive{
  background: rgba(255, 255, 255, 0.9);
}
div#tag{
  background: rgba(255, 255, 255, 0.9);
}
div#category{
  background: rgba(255, 255, 255, 0.9);
}
[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }
.read-mode #aside-content .card-widget{
      background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
    }
[data-theme="dark"]
  .read-mode #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }